{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Jeddou Mhammed</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/facebook.png' %}" >
					<hr>
					<h4>PythonDev!</h4>
					<p>Senior Forecaster
                        Department of Meteorology in Morocco, Casablanca (Morocco) 
                        </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Software Engineer National Weather Service </h4>
					<hr>
					<p>Develop and Design GIS Web Applications using the ArcGIS JavaScript API.</p>

					<p>Write and publish geoprocessing services with Python and ArcPy.</p>

					<p>Create backend user authentication systems using PHP and MySQL.</p>
					<p>Create backend user authentication systems using PHP and MySQL.</p>
					<p>Create backend user authentication systems using PHP and MySQL.</p>
					<p>Create backend user authentication systems using PHP and MySQL.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Work Experience
                    </h5>
					<hr>
					<p> <h4> Department of Meteorology </h4>

                        Development of Systems That Generate, Display, and Disseminate Scientific Data
                        Maintain Backend REST Web services
                        Migrate Existing Codebases to AWS
                    .</p>
					<p>
                        <h4> Software Engineer </h4>
                        National Weather Service 
                        
                            Develop and Design GIS Web Applications using the ArcGIS JavaScript API
                            Write and publish geoprocessing services with Python and ArcPy
                            Create backend user authentication systems using PHP and MySQL
                        .</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Technical Skills
                    </h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of supporting my system at the lab I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog (SayHelloWorld.co) & youtube channel.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>